In [108]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
from sklearn.preprocessing import Binarizer

### Loading the data, fixing column names, and filling NANs:

In [116]:
data = pd.read_excel('fbi_ny_2013.xls', sheet_name=0, header=1, skiprows=3, skip_footer=3,
                     index_col=0, thousands=None)

data.columns = ['population', 'violent_crime',
       'murder',
       'rape', 'rape_legacy',
       'robbery', 'assault', 'property_crime', 'burglary',
       'larceny_theft', 'vehicle_theft', 'arson']
data.index.names = ['city']
data = data.fillna(0)
data.head(n=2)

,population,violent_crime,murder,rape,rape_legacy,robbery,assault,property_crime,burglary,larceny_theft,vehicle_theft,arson
city,,,,,,,,,,,,
Adams Village,1861,0,0,0,0,0,0,12,2,10,0,0
Addison Town and Village,2577,3,0,0,0,0,3,24,3,20,1,0

### Checking for anomalous cases:

In [125]:
print(data.murder.dtype, data.robbery.dtype, data.population.dtype)

int64 int64 int64

In [130]:
data[['murder','robbery','population']].describe()

       murder  robbery  population
count     348      348         348
mean        2       73       40038
std        18     1031      450037
min         0        0         526
25%         0        0        3003
50%         0        1        7234
75%         0        5       18428
max       335    19170     8396126

In [131]:
p_crime = data[['population','murder','robbery']]
binarizer = Binarizer(threshold=0.0, copy=False).fit(p_crime[['murder','robbery']])
p_crime[['murder','robbery']] = binarizer.transform(p_crime[['murder','robbery']])
p_crime['population^2'] = p_crime.population**2

In [134]:
p_crime.head()

                          population  murder  robbery  population^2
city
Adams Village                   1861       0        0       3463321
Addison Town and Village        2577       0        0       6640929
Akron Village                   2846       0        0       8099716
Albany                         97956       1        1    9595377936
Albion Village                  6388       0        1      40806544